.yogaIdPage iframe {
	width: 100%;
	height: 23.3rem;
	margin-bottom: 5rem;
}

.btnContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--phonePadding) var(--phonePadding) 0;
	z-index: 100;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.btnContainer button {
	cursor: pointer;
}

.backBtn {
	border: 2px solid var(--lightYellow);
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
	background-color: var(--lightYellow);
	transition: var(--transition);
	display: flex;
	align-items: center;
	justify-content: center;
}

.backBtn:hover {
	background-color: var(--darkYellow);
	border: 2px solid var(--darkYellow);
}

.likeBtn {
	position: relative;
	border: none;
	background-color: transparent;
}

.likeBtn[animation="1"]::after {
	content: "";
	display: inline-block;
	height: 55px;
	width: 55px;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: var(--likeBtnRingBg);
	animation: flickerButton 0.5s;
}

@keyframes flickerButton {
	0% {
		transform: scaleX(1) scaleY(1);
		opacity: 1;
	}

	100% {
		transform: scaleX(1.6) scaleY(1.6);
		opacity: 0;
	}
}

@keyframes moveButtonLeft {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-1rem);
	}

	100% {
		transform: translateX(0);
	}
}

.content {
	padding: 0 var(--phonePadding);
}

.content h2 {
	font-weight: 900;
	font-size: 3.6rem;
	letter-spacing: 0.06em;
	margin-bottom: 2rem;
}

.levelCategoryContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.levelCategoryContainer > p:first-of-type {
	color: white;
	padding: 0.3rem 1rem;
	border-radius: 5rem;
}

.beginner {
	background-color: var(--notificationGreen);
	color: var(--lightGray);
}

.medium {
	background-color: var(--notificationYellow);
	color: var(--darkGreen);
}

.intermediate {
	background-color: var(--notificationRed);
	color: var(--darkGreen);
}

.advanced {
	background-color: var(--darkRed);
	color: var(--lightGray);
}

.typeCategory {
	display: flex;
	align-items: center;
}

.levelCategoryContainer .typeCategory p:first-of-type {
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--darkRed);
}

.levelCategoryContainer .typeCategory p:nth-of-type(2) {
	text-transform: lowercase;
	font-size: 1.8rem;
}

.statisticsContainer {
	display: flex;
	gap: 5rem;
	margin-bottom: 2rem;
}

.statisticsContainer > div {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.statisticsContainer > div p {
	color: var(--darkGray);
	letter-spacing: 0.02em;
}

.description {
	margin-bottom: 3rem;
}

.controlFullscreenContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.controlFullscreenContainer button {
	display: flex;
	align-items: center;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

.controlFullscreenContainer button:hover {
	animation: scaleFullscreenBtn infinite 0.5s;
}

.controlFullscreenContainer p {
	cursor: pointer;
}

@keyframes scaleFullscreenBtn {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

/* ------------ FULLSCREEN ------------ */

.videoFullscreenContainer {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.overlay {
	width: 810px;
	height: 140px;

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;

	transform-origin: bottom left;
	transform: rotate(-90deg) translateY(100%);
}

.overlay button {
	position: absolute;
	top: var(--phonePadding);
	right: 5rem;

	cursor: pointer;
	background-color: transparent;
	border: none;

	transform-origin: 27.5px 27.5px;
	transition: var(--transition);
}

.overlay button:hover {
	transform: rotate(90deg);
}

.videoFullscreenContainer iframe {
	width: 810px;
	height: 414px;

	position: absolute;
	bottom: 0;
	left: 0;

	transform-origin: bottom left;
	transform: rotate(-90deg) translateY(100%);
}
