.signupPage {
	position: relative;
	overflow: hidden;
}

.content {
	position: relative;
	z-index: 50;
}

.backBtn {
	position: absolute;
	top: 3rem;
	left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--lightYellow);
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	transition: var(--transition);
}

.backBtn:hover {
	background-color: var(--lightYellow);
}

@keyframes moveButtonLeft {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-1rem);
	}

	100% {
		transform: translateX(0);
	}
}

.header {
	color: var(--darkGreen);
	font-size: 3.6rem;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-align: center;
	margin: 12.2rem 0 9rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-inline: 2rem;
	margin-bottom: 1.3rem;
}

.input {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: var(--darkGray);
	text-align: center;
	padding: 2.2rem;
	border: 1px solid var(--darkRed);
	border-radius: 3.8rem;
	background-color: transparent;
	transition: var(--transition);
}

.input::placeholder {
	color: var(--darkGray);
	text-transform: uppercase;
}

.input:focus {
	outline: none;
	background-color: var(--focusInputField);
}

.submit {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 2.2rem;
	color: white;
	border: none;
	border-radius: 3.8rem;
	background-color: var(--darkRed);
	cursor: pointer;
}
