.title {
	margin: 3rem 0 6rem;
	position: relative;
}

.title h1 {
	color: var(--primaryText);
	letter-spacing: 0.2em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.title img {
	position: absolute;
	top: 0;
	right: var(--phonePadding);
	transform: translateY(-20%);
	border-radius: 5rem;
}
