.welcome img {
	margin: -1rem 0 2rem;
}

.welcome h1 {
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	color: var(--quarternaryText);

	color: var(--quarternaryText);
	letter-spacing: 0.2em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.welcome h2 {
	position: absolute;
	top: 10rem;
	left: 3rem;
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.07em;
	width: 21rem;
	color: var(--quarternaryText);
}

.welcome > div {
	padding: 0 var(--phonePadding);
}
