.welcome {
	position: relative;
}

.welcome img {
	object-fit: cover;
}

.welcome h1 {
	position: absolute;
	top: 1.75rem;
	left: 50%;
	transform: translateX(-50%);
	color: var(--quarternaryText);
	margin: 0;
}

.welcome h2 {
	position: absolute;
	top: 8rem;
	left: 2rem;
	width: 17rem;
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: 0.07em;
	color: var(--quarternaryText);
}

.continue {
	position: absolute;
	bottom: 3rem;
	left: 0;
	right: 0;
	margin: 0 var(--phonePadding);
	color: var(--quarternaryText);
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
}
