.yogaGallery {
	padding: 0 var(--phonePadding);
	column-count: 2;
	gap: var(--gapGrid);
	margin-bottom: 3rem;
}

.yogaGallery a {
	position: relative;
	display: inline-block;
	margin-bottom: var(--gapGrid);
	border-radius: 1rem;
}

.yogaGallery h3 {
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	padding: 1rem;
	width: 100%;
	color: white;
	background: linear-gradient(to bottom, #00000000, #111);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.yogaGallery img {
	width: calc((414px - 2 * var(--phonePadding) - var(--gapGrid)) / 2);
	height: auto;
	display: block;
	border-radius: 1rem;
}
