.smartphoneContainer {
	width: 446px;
	height: 930px;
	position: relative;
}

.smartphone {
	position: relative;
	width: 446px;
	height: 930px;
	border: 16px black solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
	transform: rotate(0deg);
	transition: transform 1s;
	overflow: hidden;
}

.smartphoneRotated {
	transform: rotate(90deg);
}

/* The screen (or content) of the device */
.smartphone .content {
	width: 100%;
	height: 100%;
	background: white;
	overflow-x: hidden;
}

/* Speaker */
.loudspeaker {
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
}

/* Home button */
.homeBtn {
	position: absolute;
	left: 50%;
	bottom: -5px;

	width: 35px;
	height: 35px;
	transform: translate(-50%, -50%);

	background: #333;
	border-radius: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
