.splashscreenPage {
	position: relative;
}

.splashscreenPage h1 {
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 1;
	width: 100%;
	text-align: center;

	color: var(--darkGreen);
	letter-spacing: 0.2em;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0;

	animation: fadeInTitle 4s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInTitle {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	10% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.splashscreenPage img {
	display: block;
}

.bodyImg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}

.logo {
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translateX(-50%);
}

.lotus {
	position: absolute;
	z-index: 99999;
	top: 28%;
	left: 50%;
	transform: translateX(-50%);
}

.item {
	width: 56%;
	overflow: visible;
	stroke: #fff;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-linecap: round;
}
