.player {
	position: absolute;
	bottom: 0;
	left: 8rem;
	z-index: 99;
	width: 81rem;

	transform-origin: bottom left;
	transform: rotate(-90deg) translateY(100%);
}

.trackInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.player h1 {
	font-size: 4.2rem;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-align: center;
}

.artistsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.artistsContainer p {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--darkGray);
	letter-spacing: 0.06em;
}

.duration {
	text-align: center;
}

.spotifyPlayer {
	position: absolute;
	bottom: -13rem;
	left: 4rem;
	z-index: 99;
	width: 73rem;
}
