.signinPage {
	position: relative;
	overflow: hidden;
}

.content {
	position: relative;
	z-index: 50;
}

.backBtn {
	position: absolute;
	top: 3rem;
	left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #faf2da;
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	transition: var(--transition);
}

.backBtn:hover {
	background-color: #faf2da;
}

@keyframes moveButtonLeft {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-1rem);
	}

	100% {
		transform: translateX(0);
	}
}

.header {
	color: var(--primaryText);
	font-size: 3.6rem;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-align: center;
	margin: 12.2rem 0 9rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-inline: 2rem;
	margin-bottom: 1.3rem;
}

.input {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: var(--secondaryText);
	text-align: center;
	padding: 2.2rem;
	border: 1px solid var(--primaryColor);
	border-radius: 3.8rem;
	background-color: transparent;
	transition: var(--transition);
}

.input::placeholder {
	color: var(--secondaryText);
	text-transform: uppercase;
}

.input:focus {
	outline: none;
	background-color: rgba(226, 144, 131, 0.07);
}

.submit {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 2.2rem;
	color: white;
	border: none;
	border-radius: 3.8rem;
	background-color: var(--primaryColor);
	cursor: pointer;
}

.info {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--secondaryText);
	text-align: center;
	margin-bottom: 6rem;
}

.link {
	color: var(--primaryColor);
	text-transform: uppercase;
}

.providerContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-inline: 2.2rem;
}

.providerItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
}

.providerLogo {
	cursor: pointer;
	transition: var(--transition);
}

.providerLogo:hover {
	transform: translateY(-4px);
}

.providerText {
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--secondaryText);
	text-align: center;
	cursor: pointer;
}
