.playerPage {
	background-color: #faf2da;
	height: 100%;
}

.btnContainer {
	position: absolute;
	top: var(--phonePadding);
	left: var(--phonePadding);
	right: var(--phonePadding);
	z-index: 1000;

	display: flex;
	justify-content: space-between;
}

.btnContainer button {
	cursor: pointer;
	background-color: #00000000;
	border: none;
}

.closeBtn {
	transform-origin: 27.5px 27.5px;
	transition: var(--transition);
}

.closeBtn:hover {
	transform: rotate(90deg);
}

.likeBtn {
	position: relative;
}

.likeBtn:hover::after {
	content: "";
	display: inline-block;
	height: 55px;
	width: 55px;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #d1b0b0;
	animation: flickerButton 0.5s;
}

@keyframes flickerButton {
	0% {
		transform: scaleX(1) scaleY(1);
		opacity: 1;
	}

	100% {
		transform: scaleX(1.8) scaleY(1.8);
		opacity: 0;
	}
}

.bg_element_1 {
	position: absolute;
	top: -2rem;
	left: -2rem;
	animation: scalingBubbles1 9s infinite;
}

.bg_element_2 {
	position: absolute;
	top: -12rem;
	right: -2rem;
	animation: scalingBubbles2 8s infinite;
}

.bg_element_3 {
	position: absolute;
	top: 24rem;
	left: -2rem;
	transform: rotate(5deg);
	animation: scalingBubbles3 7s infinite;
}

.bg_element_4 {
	position: absolute;
	top: 44rem;
	right: -2rem;
	animation: scalingBubbles4 8s infinite;
}

.bg_element_5 {
	position: absolute;
	bottom: 0;
	left: -7rem;
	animation: scalingBubbles5 10s infinite;
}

.bg_element_6 {
	position: absolute;
	bottom: -2rem;
	right: -2rem;
	animation: scalingBubbles6 7s infinite;
}

@keyframes scalingBubbles1 {
	0% {
		transform: scale(1) translateY(0);
	}
	50% {
		transform: scale(1.35) translate(-6px, 3px);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

@keyframes scalingBubbles2 {
	0% {
		transform: scale(1) translateY(0) rotate(0deg);
	}
	50% {
		transform: scale(1.2) translate(5px, -3px) rotate(-5deg);
	}
	100% {
		transform: scale(1) translateY(0) rotate(0deg);
	}
}

@keyframes scalingBubbles3 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes scalingBubbles4 {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes scalingBubbles5 {
	0% {
		transform: scale(1) translateY(0) rotate(0deg);
	}
	50% {
		transform: scale(1.2) translate(-5px, -7px) rotate(3deg);
	}
	100% {
		transform: scale(1) translateY(0) rotate(0deg);
	}
}

@keyframes scalingBubbles6 {
	0% {
		transform: scale(1) translateY(0);
	}
	50% {
		transform: scale(1.2) translate(5px, -3px);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}
