.notification {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.success {
	background-color: var(--notificationGreen);
}

.warning {
	background-color: var(--notificationYellow);
}

.error {
	background-color: var(--notificationRed);
}

.success .notificationText,
.error .notificationText {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.warning .notificationText {
	color: var(--darkGreen);
	font-weight: 600;
	letter-spacing: 0.05em;
}
