.spotifyLoginPage main {
	padding: 0 var(--phonePadding);
}

.spotifyLoginPage h2 {
	font-weight: 900;
	font-size: 3.6rem;
	text-align: center;
	letter-spacing: 0.06em;
	margin-bottom: 2.5rem;
}

.spotifyLoginPage p {
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--secondaryText);
	/* text-transform: uppercase; */
	margin: 0 auto 13rem;
	width: 75%;
	line-height: 1.4;
}

.imageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	position: relative;
}

.providerLogo {
	display: inline-block;
	width: 7rem;
	height: 7rem;
	cursor: pointer;
	margin-left: 2rem;
	animation: bumping 1.5s infinite;
	transition: all 0.7s;
	filter: grayscale(1);
}

.providerLogo:hover {
	filter: grayscale(0);
}

@keyframes bumping {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.musicPage main {
	padding: 0 var(--phonePadding);
	margin-bottom: 12rem;
}

.musicPage h1 {
	letter-spacing: 0.2em;
	color: var(--primaryText);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 3rem 0 7rem;
}

.albumCover {
	margin: 0 auto 3rem;
	display: block;
	border-radius: 1.5rem;
	transition: var(--transition);
}

.albumCover:hover {
	border-radius: 2rem;
}

.linkToPlaylist {
	display: block;
	margin: 0 auto 1.5rem;
	width: max-content;
}

.musicPage h2 {
	font-weight: 900;
	font-size: 3.6rem;
	text-align: center;
	letter-spacing: 0.06em;
	width: fit-content;

	transition: var(--transition);
}

.musicPage h2:hover {
	color: var(--primaryColor);
}

.playlistText {
	font-size: 1.4rem;
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--secondaryText);
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.playlistDescription {
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--secondaryText);
	margin-bottom: 5rem;
}

.statisticsContainer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 85%;
	margin-bottom: 6rem;
}

.statisticsContainer > div {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.statisticsContainer > div p {
	color: var(--secondaryText);
	letter-spacing: 0.02em;
}

.trackContainer {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 2rem var(--phonePadding);
}

.trackContainer:not(:last-of-type) {
	border-bottom: 1px solid rgba(161, 164, 178, 0.3);
}

.playBtn {
	transform: rotate(0deg);
	transition: transform 0.4s;
}

.playBtn:hover {
	transform: rotate(120deg);
}

.trackInfoContainer {
	width: 100%;
}

.trackNameDurationContainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2rem;
	margin-bottom: 0.6rem;
}

.trackNameDurationContainer a {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.trackNameDurationContainer p {
	letter-spacing: 0.05em;
	color: var(--secondaryText);
}

.artistContainer {
	display: flex;
	gap: 1rem;
}

.artistContainer p {
	color: var(--secondaryText);
}
