:root {
	--phonePadding: 2rem;
	--gapGrid: 2rem;
	--transition: all 0.2s;

	/* ----- Colors ----- */
	/* --primaryColor: #e28f83; */
	/* --secondaryColor: #8e9775; */

	/* --primaryText: #4a503d; */
	/* --secondaryText: #a1a4b2; */
	/* --tertiaryText: #faf2da; */
	/* --quarternaryText: #fefcf8; */

	/* --notificationGreen: #c4c5a7; */
	/* --notificationYellow: #faf2da; */
	/* --notificationRed: #eec1af; */

	--darkRed: #e28f83;
	--lightRed: #eec1af;

	--darkYellow: #ffe79e;
	--lightYellow: #faf2da;

	--darkGreen: #4a503d;
	--mediumGreen: #8e9775;
	--lightGreen: #c4c5a7;

	--darkGray: #a1a4b2;
	--lightGray: #fefcf8;

	--notificationGreen: rgba(203, 237, 213, 0.5);
	--notificationYellow: rgba(255, 246, 189, 0.5);
	--notificationRed: rgba(255, 211, 178, 0.5);

	--searchbarBg: rgba(161, 164, 178, 0.2);
	--focusInputField: rgba(226, 144, 131, 0.07);
	--boxShadow: #54575c57;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100vh;

	background-image: radial-gradient(rgba(250, 242, 218), #537a6e);

	display: flex;
	align-items: center;
	justify-content: center;

	scroll-behavior: smooth;
}

p,
a,
h1,
h2,
h3,
button {
	color: var(--primaryText);
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}
