:root {
	--phonePadding: 2rem;
	--gapGrid: 2rem;
	--transition: all 0.2s;

	/* ----- Colors ----- */
	--darkRed: #e28f83;
	--lightRed: #eec1af;

	--darkYellow: #ffe79e;
	--lightYellow: #faf2da;

	--darkGreen: #4a503d;
	--mediumGreen: #8e9775;
	--lightGreen: #c4c5a7;

	--darkGray: #a1a4b2;
	--mediumGray: rgba(161, 164, 178, 0.3);
	--lightGray: #fefcf8;

	--notificationGreen: rgb(181, 213, 197);
	--notificationYellow: rgba(255, 246, 189);
	--notificationRed: rgba(255, 211, 178);

	--focusInputField: rgba(226, 144, 131, 0.07);
	--likeBtnRingBg: #d1b0b0;
	--boxShadow: #54575c57;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100vh;

	background-image: radial-gradient(rgba(250, 242, 218), #537a6e);

	display: flex;
	align-items: center;
	justify-content: center;

	scroll-behavior: smooth;
}

p,
a,
h1,
h2,
h3,
button {
	color: var(--darkGreen);
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}
